@charset "UTF-8";

// Navbar
.navbar {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}
@include media-breakpoint-down(md) {
  .navbar {
    .form-group {
      z-index: 2;
      margin: 15px 30px;
    }
  }
  .nav-open .navbar-collapse {
    box-shadow: $bmd-shadow-2dp;
  }
  #results-container {
    top: 31% !important;
    margin-left: 24px !important;
  }
}
@include media-breakpoint-down(sm) {
  .navbar .form-group {
    display: flex;
    align-items: center !important;
  }
  .form-inline .form-control {
    vertical-align: middle !important;
  }
}
.navbar-nav .nav-link svg {
  display: inline;
  margin-top: 1px;
  margin-right: 3px;
  height: 18px;
  width: 18px;
  fill: currentColor;
  vertical-align: top;
}

#results-container {
  list-style: none;
  font-size: 14px;
  line-height: 35px;
  position: absolute;
  min-width: 196px;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0,0,0,0.1) !important;
  background-color: white;
  padding-left: 24px;
  padding-right: 16px;
  top: 85%;
  z-index: 10;
}

// Tables


.table td,
.table th {
  word-break: normal;
}

.table.device tbody th {
  word-break: break-all !important;
}

.deviceinfo.table {
  margin-top: 20px;
  border-radius: 50px;

  th {
    word-break: normal !important;
    &[colspan='2'] {
      text-align: center;
    }
  }

  td {
    text-align: right;
    word-break: break-word;
  }
  ul, ol {
    text-align: left;
  }
  tr.image td {
    text-align: center;
    img {
      max-height: 400px;
      max-width: 100%;
    }
  }

}

@include media-breakpoint-up(lg) {
  table.table.device thead th {
    &.first{
      width: 25%
    }
    &.last{
      width: 25%
    }
  }
}

// Toc
#toc {
  background: #fafafa;
  padding: 1rem 1.5rem .25rem .5rem;
  color: black;
  font-size: 14px;
  width: fit-content;
  line-height: 1.8;
  margin-bottom: 1rem;
  border-radius: 4px;
}
div#toc >ul::before {
  content: "Table of Contents";
  font-weight: 500;
  color: #555;
  text-transform: uppercase;
  font-size: .75rem;
  margin-left: -1rem;
}
@include media-breakpoint-down(sm) {
    #toc {
      width: 100%;
    }
}

// Alerts

.alert {
  border-radius: 4px !important;

    a {
      color: inherit;
      text-decoration: underline;
    }
}

@include media-breakpoint-up(md) {
  .alert {
    .alert-icon {
      margin-right: 0;
      i {
        margin: 0;
        top: 0;
      }
    }
    .alert-text {
      padding-left: 36px;

      b {
        font-size: inherit !important;
      }
    }
  }
}

// Footer

.footer {
  p {
    font-size: 14px !important;
  }
  b {
    font-weight: 500;
  }
  svg {
    fill: #757575;
    margin-bottom: 4px;
    height: 32px;
  }
}

// Misc

.main-content {
  min-height: calc(100vh - 163px);
  padding-top: 60px;
  word-break: break-word;
}

b, strong {
  font-weight: 500;
}
.welcome p.lead {
  font-size: 1.125rem;
  line-height: 1.6;
}
.page {
  padding-top: 1rem;
}
pre {
  padding: 16px 4px 16px 24px;
}

.table a {
  font-weight: bold;
  vertical-align: middle;
}

// Make sure toc-targets are actually displayed, not hidden by the navbar
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  display: block;
  content: " ";
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}
a {
  position: relative;
  z-index: 100;
}

// Devices page - vendor list
.vendor-container {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -webkit-perspective: 1; /* Fix for chrome to calculate the height properly */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;
  padding: .25rem 0 .25rem.5rem;
  font-size: 14px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.vendor-container div {
  padding: .5rem;
  -webkit-column-break-inside: avoid; /* Fix for additional unwanted margin on chrome */
}

tr.hidden {
  display: none;
}

.devices {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 3rem;
  gap: 2rem 0;
  margin-top: 1rem;
}
.item {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  &:hover,
  &:focus {
    cursor: pointer;
    .image {
      background: #E8EDEE;
      transition: 0.15s;
    }
    a {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
  }
  img {
    max-width: 120px;
    max-height: 120px;
    margin: 8px 0;
  }
}
.item.hidden {
  display: none;
}
.deviceimage {
  padding: 1rem;
  min-height: 150px;
  text-align: center;
  justify-content: center;
  background-color: #F6FAFA;
  transition: 0.15s;
  align-items: center;
  display: flex;
  flex: 1 0 0px;
}
.name {
  height: 3.5em;
  margin: 1em 1em 0em 0em;
  flex: 1 0 0%;
}
.item.discontinued {
  &:hover {
    img {
      opacity: 1;
      filter: none;
      transition: 0.15s;
    }
  }
  img {
    opacity: 0.25;
    filter: grayscale(100%);
    transition: 0.15s;
  }
  a {
    color: $craft-light;
  }
}
.devicename {
  font-weight: 500;
}
.codename {
  font-size: 14px;
}
.top {
  font-size: 0.9rem;
  vertical-align: middle;
}

@media (max-width: 991px) {
  .vendor-container {
     -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }
  .devices {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .vendor-container {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
  
  .devices {
    grid-template-columns: repeat(2, 1fr);
  }
}

hr.light {
    border-top: 1px solid #2196f3;	
}

// Donate
a.btn-donut:hover {
    color: #2196f3;
	background-color: rgba(0,0,0,0.1);
    border-color: (0,0,0,0.1);
    text-decoration: none;
}
a.btn-donut {
    color: #212121;
    background-color: rgba(0,0,0,0.1);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    font-size: 18px;
    border-radius: 50px;
    font-family: Google Sans Regular;
    text-decoration: none;
}

.donut {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.mb-3 {
    margin-bottom: 1rem!important;
}
.mx-1 {
    margin-left: .25rem!important;
}
.pl-3 {
    padding-left: 1rem!important;
}

.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  border-radius: 1.5rem;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}

.modal-dialog-scrollable {
  display: -ms-flexbox;
  display: flex;
  max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  text-align: left;
}

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.modal-footer > :not(:first-child) {
  margin-left: .25rem;
}

.modal-footer > :not(:last-child) {
  margin-right: .25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
  }
  .modal-sm {
    max-width: 300px;
  }
  
  .sector-file {
    display: block;
}

}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
  
  .sector-file {
    display: block;
}

}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}

.btc-style {
  text-align: center;
  font-family: Google Sans Regular;
}

img.btc-style {
  max-width: 300px;
  border: 30px solid transparent;
  margin-bottom: 1rem;
}
.gsmedium {
  font-family: "Google Sans Medium", serif; 
}

.icons {margin: 0 2px 0 8px;}
.icons-start {margin: 0 2px 0 0;}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee
}
blockquote ol:last-child, blockquote p:last-child, blockquote ul:last-child {
    margin-bottom: 0
}
blockquote .small, blockquote footer, blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857;
    color: #777
}
blockquote .small:before, blockquote footer:before, blockquote small:before {
    content: "\2014 \00A0"
}
.blockquote-reverse, blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    text-align: right;
    border-right: 5px solid #eee;
    border-left: 0
}
.blockquote-reverse .small:before, .blockquote-reverse footer:before, .blockquote-reverse small:before, blockquote.pull-right .small:before, blockquote.pull-right footer:before, blockquote.pull-right small:before {
    content: ""
}
.blockquote-reverse .small:after, .blockquote-reverse footer:after, .blockquote-reverse small:after, blockquote.pull-right .small:after, blockquote.pull-right footer:after, blockquote.pull-right small:after {
    content: "\00A0 \2014"
}
.blog-entry blockquote p, .md-page blockquote p {
    font-size: 16px;
    font-style: normal;
    color: #222
}
.blog.article .content blockquote {
    font-size: 19px
}
@media print {
	blockquote, pre {
		border: 1px solid #999;
		page-break-inside: avoid
    }
}

.sector-news {
    display: block;
    align-items: flex-start;
}
.sector-news .image {
    align-self: flex-start;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.sector-news .image img {
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;
}