@charset "UTF-8";

.page {
  padding-top: 1rem;
}

// Devices page - vendor list
.vendor-container {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -webkit-perspective: 1; /* Fix for chrome to calculate the height properly */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;
  padding: .25rem 0 .25rem.5rem;
  font-size: 14px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.vendor-container div {
  padding: .5rem;
  -webkit-column-break-inside: avoid; /* Fix for additional unwanted margin on chrome */
}

@media (max-width: 991px) {
  .vendor-container {
     -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }
}
@media (max-width: 767px) {
  .vendor-container {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
}