@charset "UTF-8";

.articles {
    border-top: 1px solid rgba(47,49,50,.1);
    padding: 25px 0;
    font-family: Segoe UI,sans-serif;
    position: relative;
    display: flex
  }
  
.articles>.articles-image {
    flex: 0 0 auto
	}

.articles>.articles-image>a img {
    object-fit: cover;
    width: 240px;
    height: 150px;
    border-radius: 4px;
    transition: all .2s ease-in-out
	}


.articles>.articles-body {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #555;
    margin-left: 20px;
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start
}

.articles>.articles-body>.articles-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #2f3132;
    width: 100%
}

.articles>.articles-body>.articles-title a {
    color: inherit;
    transition: all .2s ease-in-out
}

.articles>.articles-body>.articles-title a:hover {
    color: #449eef
}

  .shortly {
    font-family: Segoe UI,sans-serif;
    font-size: 14px;
    color: #555;
    width: 100%;
    margin-top: 10px;
	font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }
  
  .articles>.articles-body>.shortly {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #555;
    width: 100%;
    margin-top: 10px
}

.articles>.articles-body>.date {
    margin-top: 20px
}

.articles>.articles-body>.button,.articles>.articles-body>.author {
    margin-top: 20px;
    margin-left: 30px
}

.articles>.articles-body>.author i,.articles>.articles-body>.date i {
    font-size: 20px;
	vertical-align: middle
}

.articles>.articles-body>.button a {
    display: flex;
    grid-column-gap: 8px;
    transition: all .2s ease-in-out
}

.articles>.articles-body>.button a:hover {
    color: #449eef
}

  h6 {
    margin-bottom: 0;
  }

@media screen and (max-width:999px) {
    .articles>.articles-image>a img {
        width: 170px;
        height: 106px
    }
}

@media screen and (max-width:767px) {
    .articles {
        flex-direction: column
    }

    .articles>.articles-image {
        width: 100%
    }

    .articles>.articles-image>a img {
        width: 100%;
        height: auto
    }

    .articles>.articles-body {
        margin-top: 10px;
        margin-left: 0
    }

    .articles>.articles-body>.articles-title {
        order: 2;
        margin-top: 10px
    }

    .articles>.articles-body>.shortly {
        display: none
    }

    .articles>.articles-body>.date {
        order: 1;
        margin-top: 0;
        margin-left: 0
    }

    .articles>.articles-body>.author {
        order: 3;
        margin-top: 10px;
        margin-left: 0
    }

    .articles>.articles-body>.button {
        order: 4;
        margin-top: 10px;
        margin-left: 20px
    }
}

.sticky-submenu {
    height: 40px;
    background-color: #2f3132;
	margin-top: -2rem
}

.sticky-submenu #sub-menu {
    font-family: Jost,sans-serif;
    font-size: 16px;
    line-height: 23px;
    color: #c3c6c8;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    height: 100%
}

.sticky-submenu #sub-menu>.links {
    flex: 1 1 auto;
    display: flex;
    height: 100%;
    overflow-x: auto
}

.sticky-submenu #sub-menu>.links>a {
    white-space: nowrap;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all .2s ease-in-out
}

.sticky-submenu #sub-menu>.links>a+a {
    margin-left: 30px
}

.sticky-submenu #sub-menu>.links>a:hover {
    color: #55afff
}