@charset "UTF-8";

.articles {
    border-top: 1px solid rgba(47,49,50,.1);
    padding: 25px 0;
    position: relative;
    display: flex;

  .articles-image {
    flex: 0 0 auto;
	
	a img {
    object-fit: cover;
    width: 240px;
    height: 150px;
    border-radius: 4px;
    transition: all .2s ease-in-out;
	}
  }

  .articles-body {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #555;
    margin-left: 20px;
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
	
   .articles-title {
    font-size: 1.3625rem;
    font-family: "Roboto Slab", "Times New Roman", serif;
    margin-top: 0 !important;
    margin-bottom: 4px !important;
    font-weight: 600;
    line-height: 24px;
    color: #2f3132;
    width: 100%;

    a {
      transition: all .2s ease-in-out;
      color: $black-color;
      text-decoration: none;

      &:hover {
        color: $brand-primary !important;
      }

    }

  }

  .shortly {
    font-family: Segoe UI,sans-serif;
    font-size: 14px;
    color: #555;
    width: 100%;
    margin-top: 10px;
	font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }
  
  .date {
    margin-top: 20px;
	}
  .author, .button {
    margin-top: 20px;
    margin-left: 30px;
	}
  .button a {
    transition: all .2s ease-in-out;
	color: $black-color;
    text-decoration: none;
	
	   &:hover {
        color: $brand-primary !important;
      }
	}	
	
  }

  h6 {
    margin-bottom: 0;
  }

}

@media (max-width: 767px) {
  
  .articles {
    flex-direction: column;
	
	
   .articles-image {
     a img {
	 width: 100%;
     height: auto;
	 }
	 }

	.articles-body {
	margin-top: 10px;
    margin-left: 0;
	
	.articles-title{
	order: 2;
    margin-top: 10px;}
	
	.shortly{
	 display: none;
	}
	
	.date{
	order: 1;
    margin-top: 0;
    margin-left: 0;}
	
	.author{
	order: 3;
    margin-top: 10px;
    margin-left: 0;
	}
	
	.button{
	order: 4;
    margin-top: 10px;
    margin-left: 20px;
	}
  }
  } 
  }
  
    @media (min-width: 999px) {
  
  .articles {
	
   .articles-image {
     a img {
    width: 170px;
    height: 106px;
	 }
	 }
  
	}
  
  }
