@charset "UTF-8";

.card {
  border: 0;
  border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  margin-bottom: 24px;
  background-color: white;

  .card-body {
    padding: 16px 24px 8px !important;
  }

  .card-title {
    font-size: 1.3625rem;
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
    margin-top: 0 !important;
    margin-bottom: 4px !important;

    a {
      transition: all 0.3s ease-out;
      color: $black-color;
      text-decoration: none;

      &:hover {
        color: $brand-primary !important;
      }

    }

  }

  .card-text {
    margin: 0;
    font-family: Segoe UI,sans-serif;
    font-size: 14px;
    color: #424546;
    display: flex;
    padding: 0 0 10px 0;
  }

  h6 {
    margin-bottom: 0;
  }

}
