---
layout: default
title: Podcast
permalink: /podcast/
---
<style>body {background-color: #fafafa;}</style>

<div class="jumbotron">
  <div class="container">

    <h1>Blog</h1>
    <p>News from the CraftRom team</p>
    <a class="btn btn-primary" href="{{ site.baseurl }}/feed.xml">{% include svg/rss_feed.svg %} RSS Feed</a>
  </div>
</div>
{% include layout/sub-menu.html %}
<div class="container post">
  {% for post in site.categories.blog %} 
    {% if post.filters contains "podcast" %}
  <div class="articles">
    <div class="articles-image">
	<a href="{{ site.baseurl }}{{ post.url }}"><img src="{{site.url}}{{post.image}}" data-src="{{site.url}}{{post.image}}" alt="{{ post.title }}"></a></div>
    <div class="articles-body">
      <div class="articles-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
      <div class="shortly"><span>{{ post.excerpt }}</span></div>
	  <div class="date"><i class="material-icons">date_range</i> <span>{{ post.date | date: '%B %d, %Y' }}</span></div>
	  {% if post.author %}<div class="author"><i class="material-icons">person</i> <span>{{ post.author }}</span></div>{% endif %}
	  <div class="button"><a href="{{ site.baseurl }}{{ post.url }}">Read More</a></div>
    </div>



  </div>
  {% endif %}
  {% endfor %}
</div>
