---
layout: default
title: Donate
---
<style>body {background-color: #fafafa;}</style>

<div class="jumbotron">
  <div class="container">

    <h1>Donate</h1>
    <p>Do you have a desire to support the community but don't know how?</p>
  </div>
</div>

<div class="container post">
{% include alerts/note.html content="We really appreciate your donation and we understand that this is not necessary! Donations will go towards improving computer hardware, paying for servers, or other community needs. All donations are non-refundable. Many thanks! ❤️" %}
{% include alerts/disclaimer.html content="By clicking on any button below and completing the transaction, you thereby confirm that you are the rightful owner of the funds donated as part of this transaction and they cannot be withdrawn / refunded. Donate only if you have money to donate and that money is yours." %}
{% include donate_content.html %}
</div>
