---
layout: default
scrolljs: true
---
{% assign __ = site.data.languages[site.lang] %}
<div class="jumbotron welcome">
  <div class="container">
    <div class="row justify-content-between align-items-bottom">
      <div class="col-lg-5 text-center text-lg-left pb-10">

        <h1>{{ site.name }}</h1>
        <p>Maintenance of various devices based on the custom Android operating system.</br>
Modules for Magisk and other settings for Android.</p>
      <a class="btn btn-primary" href="{{ site.baseurl }}/community/">
        {% include svg/community.svg %} Community</a>
        <a class="btn btn-link text-white" href="{{ site.baseurl }}/blog">Blog</a>

      </div>
      <img alt="Home" src="assets/img/peek_device.png" class="welcome-image">
    </div>
  </div>
</div>

<section class="blog bg-primary-lighter">
  <div class="container">
 <div class="row">
<div class="col-md-7">
    <div class="post text-lg-left">
      <div>
        <h2><i class="fa fa-newspaper-o fa-fw" aria-hidden="true">{% include svg/feed.svg %}</i>Latest news</h2>

        {% for post in site.categories.blog limit:2 %}
		<div class="card">
		<div class="card-body">
		<h3 class="card-title"><a  href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
        <hr class="light">
		<p class="card-text"><strong>{% include svg/clock.svg %} {{ post.date | date: '%B %d, %Y' }}{% if post.author %} {% include svg/author.svg %} {{ post.author }}{% endif %}</strong></p>
        <p>{{ post.excerpt }}</p>
		</div>
		</div>
		{% endfor %}
      </div>
    </div>
  </div>
    
   <div class="col-md-5">
   <div class="post text-lg-left">
   <div>
   <h2><i class="fa fa-download fa-fw" aria-hidden="true">{% include svg/download_36dp.svg %}</i> Downloads</h2>
      {% for post in site.categories.file limit:2 %}
		<div class="card">
		<div class="card-body">
		<h3 class="card-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
        <hr class="light">
		<p class="card-text"><strong>{% include svg/clock.svg %} {{ post.date | date: '%B %d, %Y' }}{% if post.author %} {% include svg/author.svg %} {{ post.author }}{% endif %}</strong></p>
        <p>{{ post.excerpt }}</p>
		</div>
		</div>
		{% endfor %}
      </div>
    </div>
</div>	

</div>
</div>
</section>

<!--  <section class="tweaks">
  <div class="container">
    <div class="row justify-content-between align-items-center">

      <div id="tweaks" class="col-lg-4">
        <img alt="styles" src="assets/img/styles.png" class="img-fluid text-center h-auto">
      </div>

      <div class="col-lg-7 text-center text-lg-left">
        <h2>Individuality</h2>
        <p class="feature">
            Customization is paramount to productivity.
            <br>
            That’s why LineageOS promises to push for user personalization and preference.
            <br>
            <br>
            Everyone is unique and your device should be too.
        </p>
      </div>

    </div>
  </div>
</section>  -->

<section class="security bg-dark">
  <div class="container">
    <div class="row justify-content-between align-items-center">

      <div class="col-lg-7 order-lg-last">
        <img alt="security" src="assets/img/linux.png" class="img-fluid text-center h-auto">
      </div>

      <div class="col-lg-4 text-center text-lg-left text-white">
        <h2>CHIDORI KERNEL</h2>
        <p class="feature">Chidori kernel is a kernel that aims to provide the following:<br><br>
        </p>
        <div class="feature-inline-image">
          {% include svg/linux.svg %}
        </div>
        <p>
          Custom kernel for different devices based on the Android operating system.
        </p>
        <br>
        <p class="feature">
		- better battery backup without sacrificing performance<br>
		- better ram management<br>
		- better temperature handling<br>
		- more!
        </p>
      </div>

    </div>
  </div>
</section>

<section class="longevity justify-content-between align-items-center">
  <div class="container">
    <div class="row justify-content-between align-items-center">

      <div class="col-lg-6">
        <div class="img-fluid text-center">
          {% include svg/apps.svg %}
        </div>
      </div>

      <div class="col-lg-5 text-center text-lg-left">
        <h2>Long-term maintenance</h2>
        <p class="feature">
          All mobile devices that we maintain are accompanied by the maximum possible time.<br><br>
          We will always try to update your device to the maximum Android version.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- <section class="tools bg-dark section-background-image parallax">
  <div class="container">
    <div class="row justify-content-between align-items-center">

      <div class="col-lg-7 order-lg-last">

      </div>

      <div class="col-lg-4 text-center text-lg-left text-white">
        <h2>Power to you</h2>
        <p class="feature">
          Our open-source apps are here to help you get through the day.
          <br><br>
          Want to do more with your device?
          <br>
          Power users will enjoy Unix command-line utilities.
          <br>
          Android developers will turn any device into the perfect device for
          apps development thanks to enhanced tools and
          <a href="https://wiki.lineageos.org/sdk">exclusive APIs</a>.
          <br>
        </p>
      </div>

    </div>
  </div>
</section> -->

<section class="download bg-primary" style="margin-bottom: -3rem;">
  <div class="container">
    <div class="text-center">
      <div class="logo">
        {% include svg/craftrom_logo.svg %}
      </div>
      <h2>What is CraftRom?</h2>
      <p class="feature">
CraftRom is a community of testers and developers.
      </p>
      <a class="btn btn-primary" href="{{ site.baseurl }}/community/">
        {% include svg/community.svg %} Community
      </a>
    </div>
  </div>
</section>
