{% assign device = site.data.devices[page.device] %}
{% assign rom = site.data.roms[page.device] %}

<table class="table device">
  <thead>
  <tr>
    <th scope="col" class="first"><b>Name</b></th>
    <th scope="col"><b>Android</b></th>
    <th scope="col" class="last"><b>Download</b></th>
  </tr>
  </thead>

  <tr>
    <th scope="row" onClick="location.href='{{ url }}'"><a href="{{ url }}">{{ romName }}</a></th>
    <td onClick="location.href='{{ url }}'"><a href="{{ url }}">{{ device.codename }}</a></td>
    <td>{{ device.type | capitalize }}</td>
  </tr>

</table>
