{% assign rom = site.data.roms[page.rom] %}
{% assign device = site.data.devices[page.device] %}
{% assign roms = "" | split: " " %}
{% for rom in site.data.roms %}
{% assign roms = roms | push: rom[1] %}
{% endfor %}


{% assign sorted = roms | sort_natural: 'name' | sort_natural: 'rom_name' %}
{% assign lastVendor = "" %}
{% for rom in sorted %}
{% if rom.rom_name != lastVendor %}
{% assign lastVendor = rom.rom_name %}
<h2 class="h3" id="{{ rom.rom_name | slugify }}" rom_name="{{ rom.rom_name | slugify }}">{{ rom.rom_name}}</h2>
<table class="table device" rom_name="{{ rom.rom_name | slugify }}">
  <thead>
  <tr>
    <th scope="col" class="first"><b>Rom</b></th>
    <th scope="col"><b>Codename</b></th>
    <th scope="col" class="last"><b>Type</b></th>
  </tr>
  </thead>
{% endif %}


        <td>
            {%- if device.rom_list.first.size == 1 %}
                {%- for model in device.rom_list %}
                <ul>
                    <li>{{ model.first[0] }}
                        {% assign rom_list = model.first[1] %}
                        {% include snippets/peripherals.html %}
                    </li>
                </ul>
                {%- endfor %}
            {%- else %}
                {%- assign rom_list = device.rom_list %}
                {%- include snippets/peripherals.html %}
            {%- endif %}
        </td>
{% if sorted[forloop.index].rom_name != lastVendor %}{% endif %}</table>
{% endfor %}
