<main role="main" style="text-align: center!important;">
		<a class="btn btn-donut pl-3 mb-3 mx-1" href="//send.monobank.ua/9Cje1VjqRX">
			<span class="mdi mdi-credit-card-outline"></span>
			<span class="mx-2">Monobank</span>
		</a>
		<a class="btn btn-donut pl-3 mb-3 mx-1" href="#" data-toggle="modal" data-target="#ether">
			<span class="mdi mdi-ethereum"></span>
			<span class="mx-2">Ethereum</span>
		</a>



		<div class="modal fade" id="ether" tabindex="-1" role="dialog" aria-labelledby="..." aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title gsmedium" id="ModalLabel">Ethereum</h4>
						<a class="close" data-dismiss="modal" aria-label="Close"><span class="mdi mdi-24px mdi-close"></span></a>
					</div>
					<div class="modal-body btc-style">
						<img src="/src/images/crypt/eth.png" class="blur btc-style">
						<p>0x9E023e37BaaFc7BfD2De0cA7BD88AcEF4Be44826</p>
					</div>
				</div>
			</div>
		</div>
	</main>