<main role="main" style="text-align: center!important;">
		<a class="donut btn-donut pl-3 mb-3 mx-1" href="//send.monobank.ua/9Cje1VjqRX">
			<span class="mdi mdi-credit-card-outline"></span>
			<span class="mx-2">Monobank</span>
		</a>
		<a class="donut btn-donut pl-3 mb-3 mx-1" href="//www.paypal.com/donate/?hosted_button_id=2AA4WX3SX45YS">
			<span class="mdi mdi-wallet-outline"></span>
			<span class="mx-2">PayPal</span>
		</a>
		<br>	
<!--		<a class="donut btn-donut pl-3 mb-3 mx-1" href="#" data-toggle="modal" data-target="#ether">
			<span class="mdi mdi-ethereum"></span>
			<span class="mx-2">Ethereum</span>
		</a> -->
        <a class="donut btn-donut pl-3 mb-3 mx-1" href="#" data-toggle="modal" data-target="#donpay">
			<span class="mdi mdi-gift-outline"></span>
			<span class="mx-2">Donate Pay</span>
		</a>


        <div class="modal fade" id="ether" tabindex="-1" role="dialog" aria-labelledby="..." aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title gsmedium" id="ModalLabel">Ethereum</h4>
						<a class="close" data-dismiss="modal" aria-label="Close"><span class="mdi mdi-24px mdi-close"></span></a>
					</div>
					<div class="modal-body btc-style">
						<img src="/assets/img/crypt/eth.png" class="blur btc-style">
						<p>0x2D8283b29A6799A8C1b77Ea987EaAA5D84BFc4fD</p>
					</div>
				</div>
			</div>
		</div>

        <div class="modal fade" id="donpay" tabindex="-1" role="dialog" aria-labelledby="..." aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title gsmedium" id="ModalLabel">DonatePay</h4>
						<a class="close" data-dismiss="modal" aria-label="Close"><span class="mdi mdi-24px mdi-close"></span></a>
					</div>
					<div class="modal-body btc-style">
						<a href="//new.donatepay.ru/@mmo4life"><img src="https://donatepay.ru/uploads/qr/134419/d2597073-8366-4342-842a-ccab05ea49c4.png" class="blur btc-style"></a>
						<p>Tap to QR-code</p>
					</div>
				</div>
			</div>
		</div>

	</main>
