<footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md footer-logo">
            {% include svg/craftrom_logo.svg %}
            <p class="footer-text">
              <b>&copy; 2020 - {{ site.time | date: '%Y' }} The CraftRom </b><br />
              PayPal: <a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2AA4WX3SX45YS&source=url">paypal.me/CraftRom</a> <br />
            </p>
          </div>
          <div class="col-md">
            <div class="footer-icons">
              {% include footer-icons.html %}
            </div>
          </div>
        </div>
      </div>
</footer>
