<footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md footer-logo">
            {% include svg/craftrom_logo.svg %}
            <p class="footer-text">
              <b>&copy; 2020 - {{ site.time | date: '%Y' }} The CraftRom </b><br />
              Donate: <a target="_blank" href="{{ site.baseurl }}/donate/">Donate - CraftRom</a> <br />
              Note: CraftRom LLC is not a 501(c)(3) non-profit, as such donations are not tax-exempt.
            </p>
          </div>
          <div class="col-md">
            <div class="footer-icons">
              {% include footer-icons.html %}<br><br>
			  <p class="text-md-right text-muted">
			{% if page.last_updated %}Page last updated: {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y" }}</p>
            </div>
			</div>
        </div>
      </div>
</footer>
