<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/material-kit.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="{{ site.baseurl }}/assets/js/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.2/anchor.min.js" integrity="sha256-WofcoLT8gToeaSmVRe28qpnlFxdBJH1n4K6Bk3YowvU=" crossorigin="anonymous"></script>
    <script src="{{ site.baseurl }}/assets/js/material-kit.js"></script>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/logo.png">

  </head>

  <body>

    {% include layout/navbar.html %}

    <div class="main-content">
      {{ content }}
    </div>

    {% include layout/footer.html %}

    {% unless page.disable_anchor %}<script>anchors.add().remove('h1');</script>{% endunless %}

    {% include analytics.html %}

    {% if page.scrolljs %}
    <script>
      var rotation = 0;
      var scrollLoc = $(document).scrollTop();

      $(window).on("scroll", function() {
          var newLoc = $(document).scrollTop();
          var diff = (scrollLoc - newLoc) / 3;
          rotation += diff, scrollLoc = newLoc;
          var rotationStr = "rotate(" + rotation + "deg)";

          $("#rotate-on-scroll").css({
              "-webkit-transform": rotationStr,
              "-moz-transform": rotationStr,
              "transform": rotationStr
          });
      });
    </script>
    {% endif %}

  </body>
</html>
