<tr>
    <th scope="row"><a href="{{ rom.url }}">{{ rom.name }}</a></th>
    <td>{%- if rom.android.first.size == 1 %}
                {%- for version in rom.android %}
                <ul>
                    <li>{{ version.first[0] }}
                        {% assign android = version.first[1] %}
                        {% include snippets/android_version.html %}
                    </li>
                </ul>
                {%- endfor %}
            {%- else %}
                {%- assign android = rom.android %}
                {%- include snippets/android_version.html %}
            {%- endif %}
	</td>
	<td>{%- if device.battery != 'None' %}
	     {{ rom.type }}
		{%- else %}
		null
	    {%- endif -%}
	</td>		
    <td><a href="{{ rom.url }}">DOWNLOAD</a></td>
</tr>


